<html>
<head>
  <title> movie_App</title>
  <link rel="stylesheet" type="text/css" href="bootstrap.css">
</head>
<body> 
 
 <header class="jumbotron">
<h1 class="text-center font-weight-bolder">results page!</h1>
  </header> 
  <div class="container">
  <div class="row" style="display:flex; flex-wrap:wrap;">
<% data["results"].forEach(function(movie){ %> 
  <div class="col-md-4 col-sm-6">
    <div class="thumbnail">
      <a href="/results/<%=movie["id"]%>">
        <img src=<%="https:image.tmdb.org/t/p/w300/"+movie["poster_path"]%>>
        <div class="caption">
            <h3> <%=movie["title"]%></h3></a> 

        </div>
    </div>
  
  </div>
  <% }) %>
</div>
  </div>


</body>
</html>