<html>
<head>
  <title> movie_App</title>
  <link rel="stylesheet" type="text/css" href="bootstrap.css">
</head>
<body> 

        <h1>results page!</h1>

                <% data["cast"].forEach(function(movie){ %> 
                  <li><%= movie["name"]%></li>
                    <img src=<%="https:image.tmdb.org/t/p/w300/"+movie["profile_path"]%>>
                <% }) %>
                </body>
                </html>
                