<html>
    <head>
        <title>searcher</title>
        <link rel="stylesheet" type="text/css" href="bootstrap.css">
    
    </head>
<body background="abstract-art-artistic-1020315.jpg">
    
    <header class="jumbotron">
        <h1 class="text-center font-weight-bolder">Movie`FlicKR</h1>
        <button><a href="/popularity">POPULAR</a></button>
        <a href="/toprated">TOP-RATED</a>
        <a href="/topratedtv">TOP-RATED tv</a>
        <a href="/populartv">TOP-RATED tv</a>

    </header> 
    <div class="container text-center" >   
    <form action="/results" method="GET">
        <input type="text" placeholder="SEARCH MOVIE" name="bm">
        <input type="submit">
    </form>
    </div>
    <div class="container text-center" >   
            <form action="/resultstv" method="GET">
                <input type="text" placeholder="SEARCH TV-SHOWS" name="gm">
                <input type="submit">
            </form>
            </div>
    
</body>
</html>
