<html>
<head>
  <title> movie_App</title>
  <link rel="stylesheet" type="text/css" href="bootstrap.css">
</head>
<body> 
    <header class="jumbotron">
        <h1 class="text-center font-weight-bolder">results page!</h1>
          </header> 
        

                <% data["results"].forEach(function(movie){ %> 
                  <li><%= movie["title"]%>-<%=movie["release_date"]%>-</li>
                    <img src=<%="https:image.tmdb.org/t/p/w300/"+movie["poster_path"]%>>
                <% }) %>
                </body>
                </html>
                